logs/
doc/

# delete all file who need to me edited with every modification
# to let users create it by themself
AppImage/.DirIcon
AppImage/AppRun
AppImage/usr/bin/calculator

*.o
*.AppImage

his_count.txt
calculator
